# Changelog

All notable changes to this project will be documented in this file.

The format is based on [Keep a Changelog](http://keepachangelog.com/)
and this project adheres to [Semantic Versioning](http://semver.org/).

## Unreleased

- Creation from [gomeet]({{ .GomeetGeneratorUrl }})

```shell
$ gomeet new {{ .GoPkg }} \
  --default-prefixes={{ .PkgNfo.DefaultPrefixes }} \
  --proto-name={{ .GoProtoPkgAlias }}{{ if not .IsGogoGen }} \
  --no-gogo{{ end }}{{ if .SubServices }} \
  --sub-services={{ subSvcPkgString .SubServices }}{{ end }}
```

