# Changelog

All notable changes to this project will be documented in this file.

The format is based on [Keep a Changelog](http://keepachangelog.com/)
and this project adheres to [Semantic Versioning](http://semver.org/).

## Unreleased

- Creation from [gomeet]({{ .GomeetGeneratorUrl }})

```shell
$ gomeet new {{ .GoPkg }} \
  --default-prefixes='{{ .PkgNfo.DefaultPrefixes }}' \
  --extra-serve-flags='{{ range $i, $e := .ExtraServeFlags }}{{ if $i }},{{ end }}{{ $e.Name }}@{{ $e.Type }}|{{ $e.Description }}|{{ $e.DefaultValue }}{{ end }}' \
  --proto-name='{{ .GoProtoPkgAlias }}'{{ if not .IsGogoGen }} \
  --no-gogo{{ end }} \
  --db-types='{{ range $i, $e := .DbTypes }}{{ if $i }},{{ end }}{{ if eq $e "postgres" }}{{ if $.HasPostgis }}postgis{{ else }}{{ $e }}{{ end }}{{ else }}{{ $e }}{{ end }}{{ end }}' \
  --ui-type='{{ if .HasUi }}{{ .UiType }}{{ end }}' \
  --queue-types='{{ range $i, $e := .QueueTypes }}{{ if $i }},{{ end }}{{ $e }}{{ end }}' \
  --cron-tasks='{{ range $i, $e := .CronTasks }}{{ if $i }},{{ end }}{{ lowerSnakeCase $e }}{{ end }}'{{ if .SubServices }} \
  --sub-services='{{ .SubServicesDef }}'{{ end }}
```

