# Gopkg.toml example
#
# Refer to https://github.com/golang/dep/blob/master/docs/Gopkg.toml.md
# for detailed Gopkg.toml documentation.
#
# required = ["github.com/user/thing/cmd/thing"]
# ignored = ["github.com/user/project/pkgX", "bitbucket.org/user/project/pkgA/pkgY"]
#
# [[constraint]]
#   name = "github.com/user/project"
#   version = "1.0.0"
#
# [[constraint]]
#   name = "github.com/user/project2"
#   branch = "dev"
#   source = "github.com/myfork/project2"
#
# [[override]]
#  name = "github.com/x/y"
#  version = "2.4.0"

[prune]
  unused-packages = true
  non-go = true
  go-tests = true
{{ range .SubServices }}
  [[prune.project]]
    name = "{{ .GoPkg }}"
    unused-packages = false
    non-go = false
    go-tests = false

{{ end }}[[constraint]]
  #branch = "master"
  name = "github.com/sirupsen/logrus"
  version = "1.0.3"

[[constraint]]
  name = "github.com/mattn/go-colorable"
  version = "0.0.9"

[[constraint]]
  name = "github.com/fatih/color"
  version = "1.5.0"

[[constraint]]
  branch = "master"
  name = "github.com/chzyer/readline"

[[override]]
  branch = "master"
  name = "github.com/golang/protobuf"

[[override]]
  branch = "master"
  name = "github.com/grpc-ecosystem/grpc-gateway"

[[constraint]]
  #branch = "master"
  name = "github.com/spf13/cobra"
  version = "0.0.2"

[[constraint]]
  branch = "master"
  name = "github.com/mitchellh/go-homedir"

[[constraint]]
  branch = "master"
  name = "github.com/spf13/viper"

[[constraint]]
  branch = "master"
  name = "golang.org/x/net"

[[override]]
  branch = "master"
  name = "google.golang.org/genproto"

[[constraint]]
  name = "google.golang.org/grpc"
  version = "v1.11.3"

[[constraint]]
  branch = "master"
  name = "github.com/fullstorydev/grpchan"

[[constraint]]
  name = "github.com/stretchr/testify"
  version = "v1.2.0"

[[constraint]]
  name = "github.com/dgrijalva/jwt-go"
  version = "3.1.0"

[[constraint]]
  branch = "master"
  name = "github.com/auth0/go-jwt-middleware"

[[constraint]]
  #branch = "master"
  name = "github.com/google/uuid"
  version = "0.2.0"

[[constraint]]
  branch = "master"
  name = "github.com/mwitkow/go-proto-validators"

[[constraint]]
  name = "github.com/gomeet/faker"
  version = "v1.0.0"

{{ if .IsGogoGen }}[[constraint]]
  name = "github.com/gogo/protobuf"
  version = "v1.0.0"

[[constraint]]
  name = "github.com/gogo/googleapis"
  version = "v1.0.0"

[[constraint]]
  name = "github.com/gogo/gateway"
  version = "v1.0.0"

{{ end }}[[constraint]]
  branch = "master"
  name = "github.com/gomeet/gomeet"

{{ if .DbTypes }}[[constraint]]
  branch = "master"
  name = "github.com/jinzhu/gorm"
{{ end }}

{{ range .SubServices }}[[constraint]]
  branch = "develop"
  name = "{{ .GoPkg }}"
  #version = "{{ .Version }}"

{{ end }}

