package cmd

import (
	"fmt"

	"github.com/spf13/cobra"
)

// cliCmd represents the cli command
var (
	versionCmd = &cobra.Command{
		Use:   "version",
		Short: "Return service version",
		Long: `Use this command

Example :
  $ {{ .Name }} version

`,
		Run: version,
	}
)

func init() {
	rootCmd.AddCommand(versionCmd)
}

func version(cmd *cobra.Command, args []string) {
	fmt.Printf("%s version %s - %s", svc.Name, svc.Version, svcName)
}
