module Assets.Icons exposing
    ( Icon(..)
    , icon
    , iconBody
    , iconText
    )

import Bulma.Elements as Ui
import Bulma.Modifiers as Ui exposing (HorizontalAlignment, Size)
import Html exposing (Html, div, i, span, text)
import Html.Attributes exposing (class)


type alias Size =
    Ui.Size


type alias HorizontalAlignment =
    Ui.HorizontalAlignment


type Icon
    = CodeBranch
    | Comment
    | Home
    | InfoCircle
    | Loading
    | Login
    | Logout
    | Warning


iconText : Icon -> Size -> HorizontalAlignment -> String -> Html msg
iconText ico siz align t =
    let
        myIco =
            icon ico siz

        myTxt =
            span [] [ text t ]

        content =
            case align of
                Ui.Left ->
                    [ myIco, myTxt ]

                Ui.Right ->
                    [ myTxt, myIco ]

                Ui.Centered ->
                    [ div [] [ myTxt ]
                    , div [] [ myIco ]
                    ]
    in
    span
        []
        content


icon : Icon -> Size -> Html msg
icon ico siz =
    Ui.icon siz [] [ iconBody ico ]


iconBody : Icon -> Html msg
iconBody ico =
    let
        cls =
            case ico of
                CodeBranch ->
                    "fas fa-code-branch"

                Comment ->
                    "fas fa-comment"

                Home ->
                    "fas fa-home"

                InfoCircle ->
                    "fas fa-info-circle"

                Loading ->
                    "fa fa-spinner fa-pulse fa-fw"

                Login ->
                    "fas fa-sign-in-alt"

                Logout ->
                    "fas fa-sign-out-alt"

                Warning ->
                    "fas fa-exclamation-triangle"
    in
    i [ class cls ] []
