module Components.Text exposing (colored)

import Components.Color as Color exposing (Color)
import Html exposing (Attribute, Html, span, text)
import Html.Attributes exposing (class)


colored : Color -> String -> Html msg
colored color content =
    span [ class (Color.toClass color) ] [ text content ]
