module Page.NotFound exposing (view)

import Asset
import Html exposing (Html, div, h1, p, span, text)
import Html.Attributes exposing (alt, class, id, src, tabindex)



-- VIEW


view : { title : String, content : Html msg }
view =
    { title = "Page Not Found"
    , content = viewContent
    }


viewContent : Html msg
viewContent =
    div [ class "container" ]
        [ h1 [] [ text "404" ]
        , p [] [ text "The page you are looking for might have been removed had its name changed or is temporarily unavailable." ]
        ]
