module Components.Uuid exposing
    ( generateUuid
    , generateUuids
    )

import Random.Pcg exposing (Seed, step)
import Uuid exposing (uuidGenerator)


generateUuids : Seed -> List a -> ( Seed, List String )
generateUuids firstSeed list =
    let
        uuidForItem item ( seed, list ) =
            let
                ( newUuid, newSeed ) =
                    generateUuid seed
            in
            ( newSeed, newUuid :: list )
    in
    List.foldr uuidForItem ( firstSeed, [] ) list


generateUuid : Seed -> ( String, Seed )
generateUuid seed =
    Tuple.mapFirst Uuid.toString (step uuidGenerator seed)
