package service

import (
	"testing"
	"io"

	"github.com/stretchr/testify/assert"
	"golang.org/x/net/context"

{{ protoMessagesNeededImports false .GrpcMethod.Method.GetInputType }}
)

func Test{{ upperPascalCase .GrpcMethod.Method.Name }}(t *testing.T) {
	ctx := context.Background()
	stream, err := cli.{{ upperPascalCase .GrpcMethod.Method.Name }}(ctx)
	assert.Nil(t, err)

	req := &{{ messageGoType .GrpcMethod.Method.GetInputType }}{}
	stream.Send(req)
	err = stream.CloseSend()
	assert.Nil(t, err)

	for {
		res, err := stream.Recv()
		if err == io.EOF {
			break
		}

		if err != nil {
			assert.Nil(t, err)
			break
		}

		assert.NotNil(t, res)
	}

}
