package models

{{ if not .DbTypes }}
// implement your GORM models here

/*

// MyModel is the GORM model definition.
type MyModel struct {
	gorm.Model
	Attr1    string `gorm:"size:30;index:idx_attr1"`
	Attr2    string `gorm:"size:13;"`
}

// MyModel2 is the GORM model definition.
type MyModel2 struct {
	gorm.Model
	Attr1    string `gorm:"size:30;index:idx_attr1"`
	Attr2    string `gorm:"size:13;"`
}

// for migrate func you need to declare a func that return all model for your DB_TYPES in Makefile like this
func mysqlModels() []interface {
	values = append(values, &MyModel{})
	values = append(values, &MyModel2{})
	return
}

*/
{{ else }}
// don't forget you need create
// func <mysql|postgres|sqlite|mssql>Models() (values []interface{}) {}

{{ range .DbTypes }}
// All {{ upperPascalCase . }} models
func {{ lowerPascalCase . }}Models() (values []interface{}) {
	//values = append(values, &MyModel{})
	return
}
{{ end }}{{ end }}
