$color-teal-base: #fff;

$color-initial: #fff !default;
$color-primary: #9b4dca !default;
$color-secondary: #606c76 !default;
$color-tertiary: #f4f5f6 !default;
$color-quaternary: #d1d1d1 !default;
$color-quinary: #e1e1e1 !default;

// navbar
$navbar-bg-color: #f4f5f6 !default;
$navbar-fg-color: $color-primary;
$navbar-bg-hover-color: $color-secondary;
$navbar-fg-hover-color: $color-initial;

// footer
$footer-height: 20px;
