package remotecli

import (
	"errors"
)

func (c *remoteCli) cmd{{ upperPascalCase .GrpcMethod.Method.Name }}(args []string) (string, error) {
	return "", errors.New("{{ grpcMethodCliHelp .GrpcMethod.Method }} is stream/unary method - Not yet implemented")
}
